
<div class="well">
    <h3>News</h3>

    {% for article in site.data.news limit:9 %}
    {% assign tag_class = 'tag-gray' %}
      {% case article.tag %}
        {% when 'Event' %}{% assign tag_class = 'tag-blue' %}
        {% when 'Lab Life' %}{% assign tag_class = 'tag-green' %}
        {% when 'Awards' %}{% assign tag_class = 'tag-orange' %}
        {% when 'Funding' %}{% assign tag_class = 'tag-orange' %}
        {% when 'Publication' %}{% assign tag_class = 'tag-purple' %}
        {% when 'PhD Confirmation' %}{% assign tag_class = 'tag-blue-dark' %}
      {% endcase %}
        <p>
        <span class="chri-tag {{ tag_class }} news-tag">
          {% if article.tag %}{{ article.tag }}{% else %}News{% endif %}
        </span>
        {{ article.date }}<br/>
        {{ article.headline }} 
        </p>
    {% endfor %}

    <h4>
        <a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a>
    </h4>

</div>
