---
layout: default
---

<div id="textid" class="col-sm-12">
  <h1>News</h1>
  {% for article in site.data.news %}
    {% if article.img %}
      <div style="display: table; width: 100%; margin-bottom: 20px;">
        <!-- Image Cell -->
        <div style="display: table-cell; width: 150px; vertical-align: middle;">
          <img src="{{ site.url }}{{ site.baseurl }}/images/news/{{ article.img }}"
               style="width: 150px; display: block;" />
        </div>
        <!-- Text Cell -->
        <div style="display: table-cell; vertical-align: middle; padding-left: 15px;">
          <div style="font-weight: bold; margin-bottom: 5px;">{{ article.date }}</div>
          <div>{{ article.headline }}</div>
        </div>
      </div>
    {% else %}
      <div style="margin-bottom: 20px;">
        <div style="font-weight: bold; margin-bottom: 5px;">{{ article.date }}</div>
        <div>{{ article.headline }}</div>
      </div>
    {% endif %}
    <hr style="margin-left: 0;" />
  {% endfor %}
  {{ content }}
</div>
