---
layout: default
---

<div id="textid" class="col-sm-12">
  <h1>News</h1>
  {% for article in site.data.news %}
    <div style="overflow: auto; margin-bottom: 20px;"> <!-- Contains floated image and clears it -->
      {% if article.img %}
        <img src="{{ site.url }}{{ site.baseurl }}/images/news/{{ article.img }}"
             style="float: left; width: 150px; margin-right: 15px; margin-bottom: 5px;" />
      {% endif %}
      <p>
        <strong>{{ article.date }}</strong><br />
        {{ article.headline }}
      </p>
    </div>
    <hr />
  {% endfor %}
  {{ content }}
</div>
